<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marcochiang.justice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />
    
    <!-- Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.marcochiang.justice.view.GestureListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="com.marcochiang.justice.service.JusticeService" />
        <activity android:name="com.marcochiang.justice.view.GestureEditActivity" />
        <activity android:name="com.marcochiang.justice.view.settings.SettingsActivity" />
        <activity android:name="com.marcochiang.justice.view.settings.ChangePinActivity" />
        
        <receiver android:name="com.marcochiang.justice.view.settings.JusticeAdminReceiver"
            android:label="@string/gestice_device_admin"
            android:description="@string/gestice_device_admin_desc"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
